/* ViewAppointments.css */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
  height: auto;  /* Adjust height as necessary, or use 'auto' if it should be determined by content */
  background-image: url('/home/mamoon/graduation folder/graduation/src/assets/image/baby.jpg');
  background-color: rgba(51, 51, 51, 0.938);
  background-size: cover; /* Adjusted to 'cover' for better responsive handling */
  background-blend-mode: multiply; /* This will blend the image with the background color */
  background-position: center; /* Ensures the image is centered in the container */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  height: 100vh; /* Optional: Set the height to full viewport */
  
  
}

.tabs-container {
  background-color: #fff;
  width: 80%;
  display: flex;
  justify-content: center;
  color: #fff;
  margin-bottom: 20px;
}

.ant-tabs {
  direction: ltr; /* Ensure tabs are left-to-right */
}

.ant-tabs-nav .ant-tabs-tab {
  font-size: 16px;
}

.table-container {
  width: 100%;
}

.ant-table {
  width: 100%;
  overflow-x: auto;
}
.ant-table thead  {
  align-items: end;
}
.ant-table thead > tr > th,
.ant-table tbody > tr > td {
  text-align: start; /* Center-align table headers and cells */
}

.ant-table thead > tr > th {
  background-color: #000;
  color: #fff;
}

.ant-table tbody > tr > td {
  font-size: 14px;
}

.ant-table-thead > tr > th,
.ant-table tbody > tr > td {
  white-space: nowrap; /* Prevent text from wrapping */
}

@media (max-width: 1200px) {
  .container {
    padding: 15px;
  }

  .ant-tabs-nav .ant-tabs-tab {
    font-size: 15px;
  }
}

@media (max-width: 992px) {
  .container {
    padding: 10px;
  }

  .ant-tabs-nav .ant-tabs-tab {
    font-size: 14px;
  }

  .ant-table thead > tr > th,
  .ant-table tbody > tr > td {
    font-size: 13px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 5px;
  }

  .ant-tabs-nav .ant-tabs-tab {
    font-size: 13px;
  }

  .ant-table thead > tr > th,
  .ant-table tbody > tr > td {
    font-size: 12px;
  }
}

@media (max-width: 576px) {
  .ant-tabs-nav .ant-tabs-tab {
    font-size: 12px;
  }

  .ant-table thead > tr > th,
  .ant-table tbody > tr > td {
    font-size: 11px;
  }
}
